.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inner-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.inner-wrapper label {
  display: block;
}
button {
  cursor: pointer;
  background-color: #ffe81f;
  border: 2px solid transparent;
  color: #000;
  font-weight: 900;
  text-transform: capitalize;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
button:after {
  content: "Click to see Starships";
  transition: content 0.5s ease-in-out;
}
button.active:after {
  content: "Click again to hide Starships";
}
button:hover {
  background-color: #000;
  border: 2px solid #ffe81f;
  color: #ffe81f;
}

button ~ .table-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
button.active ~ .table-container {
  opacity: 1;
}

table.results {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
table.results .row.top {
  background-color: #ffe81f;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
}
table.results td {
  width: 12%;
  padding: 2px 5px;
  box-sizing: border-box;
  background-color: #ffe81f70;
  color: #000;
}

@media screen and (max-width: 1000px) {
  .inner-wrapper {
    max-width: 700px;
  }
  table.results .row.top {
    font-size: 12px;
  }
}
@media screen and (max-width: 720px) {
  .inner-wrapper {
    max-width: 100%;
    padding: 0 10px;
  }
  table.results .row.top {
    font-size: 12px;
  }
}
